<div class="container">
  <nav class="navigation">
    <ul class="navbar">
      <li class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
      >
        <a class="nav-link" aria-current="page" routerLink="/">Post controller</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/pipes">Pipes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/services">Services</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/forms">Forms</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/server">HTTP</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/routing/1">Routing</a>
      </li>
    </ul>
    <div class="login">
      <button (click)="authService.login()"
              class="btn"
              [class.btn-success]="authService.isAuth"
              [class.btn-info]="!authService.isAuth"
      >Login</button>
      <button (click)="authService.logout()"
              class="btn btn-info">Logout</button>
    </div>
  </nav>
  <section class="section">
    <router-outlet></router-outlet>
  </section>
</div>

