<div class="container">
  <form class="form_container" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1 class="m-2">Angular Forms</h1>

    <div class="form-control">
      <label>Email</label>
      <input formControlName="email" type="text" class="m-2" placeholder="Email">
      <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched" class="validation">
        <small *ngIf="form.controls['email'].errors!.required"  class="validation_error">Поле является обязательным</small>
        <small *ngIf="form.controls['email'].errors!.email" class="validation_error">Введен неверный e-mail</small>
        <small *ngIf="form.controls['email'].errors!.restrictedemail && !form.controls['email'].errors!.email" class="validation_error">Запрещенный email {{form.controls['email'].value}}</small>
        <small *ngIf="form.controls['email'].errors!.nonUniqueEmail" class="validation_error">E-mail {{form.controls['email'].value}} уже занят</small>
      </div>
    </div>

    <div class="form-control">
      <label>Пароль</label>
      <input formControlName="password" type="password" class="m-2" placeholder="Пароль">
      <div *ngIf="form.controls['password'].invalid" class="validation">
        <small
          *ngIf="form.controls['password'].touched && form.controls['password'].invalid
                 && !form.controls['password'].errors?.minlength"  class="validation_error"
        >Поле является обязательным</small>
        <small
          *ngIf="form.controls['password'].invalid
                 && form.controls['password'].errors?.minlength" class="validation_error"
        >Минимальная длина - {{form.controls['password'].errors?.minlength.requiredLength}} символов.
        Текущая длина {{form.controls['password'].errors?.minlength.actualLength}} символов</small>
      </div>
    </div>

    <div class="card" formGroupName="address" >
      <h2 class="m-2">Адрес</h2>
      <div class="form-control">
        <label>Страна</label>
        <select (input)="setCapital()" formControlName="country" class="m-2">
          <option
            *ngFor="let item of allCountries"
            [value]="item.val"
          >{{item.text}}</option>
        </select>
      </div>
      <div class="form-control">
        <input formControlName="capital" type="text" class="m-2">
      </div>
    </div>

    <div class="card"  formArrayName="skills">
      <h2 class="m-2">Добавление навыков</h2>
      <button type="button" (click)="addSkill()" class="btn btn-primary">Добавить</button>
      <div *ngFor="let control of getFormsControls().controls; let idx = index" class="form-control">
        <label>Skill {{idx + 1}}</label>
        <input type="text" [formControlName]="idx">
      </div>
    </div>

    <div class="bottom">
      <button
        [disabled]="this.form.invalid"
        [ngClass]="{
        'btn-danger': this.form.invalid,
        'btn-success': this.form.valid
      }"
        type="submit"
        class="btn">Отправить</button>
      <button type="button" class="btn btn-danger" (click)="clearForm()">Сбросить</button>
    </div>
  </form>
</div>
